In [1]:
import pandas as pd

In [2]:
submit = pd.read_csv('../submissions/new.csv')

In [3]:
submit.head()

   answer_id  score
0          0      1
1          1      1
2          2      1
3          3      1
4          4      0

In [4]:
submit.shape

(172049, 2)

In [5]:
sample = pd.read_csv('~/data/tinkoff/sample_submit.csv')

In [7]:
sample.head()

   answer_id  score
0          0   0.85
1          1   0.53
2          2  -0.89
3          3   0.54
4          4   0.34

In [ ]:
joint = pd.concat([react['customer_id'], event_encoded], axis=1)
            cust = cust.join(joint.groupby('customer_id').mean(), on='customer_id', rsuffix='_mean')
            for col in columns_to_encode:
                cust = cust.join(cust[[col, 'like', 'dislike',
                                       'skip', 'view']].groupby(col).mean(), on=col, rsuffix=f'_{col}_mean')

In [1]:
import pandas as pd
path = '~/data/tinkoff/'

cust = pd.read_csv(path + 'customer_test.csv')
transactions = pd.read_csv(path + 'transactions.csv')
react_train = pd.read_csv(path + 'stories_reaction_train.csv')
react_test = pd.read_csv(path + 'stories_reaction_test.csv')
descr = pd.read_csv(path + 'stories_description.csv')
sample = pd.read_csv(path + 'sample_submit.csv')

In [2]:
import sys
sys.path.insert(1, '../scripts/')
from preprocessing import preprocess_customer

In [4]:
new_cust = preprocess_customer(cust, react_train, encodings = ['one-hot', 'frequency', 'mean'])

In [6]:
new_cust['skip_to_mean_age'].describe()

count    54245.000000
mean         0.000103
std          0.006271
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          0.449645
Name: skip_to_mean_age, dtype: float64

In [14]:
new_cust.isna().any()

customer_id                              False
product_0                                False
product_1                                False
product_2                                False
product_3                                False
product_4                                False
product_5                                False
product_6                                False
gender_cd                                False
age                                      False
marital_status_cd                        False
children_cnt                             False
job_position_cd                          False
job_title                                False
first_session_dttm_nan                   False
first_session_year                       False
first_session_month                      False
first_session_day                        False
first_session_hour                       False
age_less_than_17                         False
age_17_25                                False
age_26_40                                False
age_more_than_40                         False
age_nan                                  False
product_0_one_hot_0                      False
product_0_one_hot_1                      False
product_0_one_hot_2                      False
product_1_one_hot_0                      False
product_1_one_hot_1                      False
product_1_one_hot_2                      False
                                         ...
job_title_one_hot_94                     False
job_title_one_hot_317                    False
job_title_one_hot_579                    False
job_title_one_hot_781                    False
job_title_one_hot_1065                   False
job_title_one_hot_1642                   False
job_title_one_hot_2520                   False
job_title_one_hot_2689                   False
job_title_one_hot_3407                   False
job_title_one_hot_3739                   False
job_title_one_hot_4545                   False
job_title_one_hot_4840                   False
job_title_one_hot_4841                   False
job_title_one_hot_4903                   False
product_0_frequency_encoded              False
product_1_frequency_encoded              False
product_2_frequency_encoded              False
product_3_frequency_encoded              False
product_4_frequency_encoded              False
product_5_frequency_encoded              False
product_6_frequency_encoded              False
marital_status_cd_frequency_encoded      False
job_title_frequency_encoded              False
first_session_year_frequency_encoded     False
first_session_month_frequency_encoded    False
first_session_day_frequency_encoded      False
first_session_hour_frequency_encoded     False
age_frequency_encoded                    False
children_cnt_frequency_encoded           False
job_position_cd_frequency_encoded        False
Length: 89, dtype: bool

In [8]:
for col in new_cust.columns:
    print(col)

customer_id
product_0
product_1
product_2
product_3
product_4
product_5
product_6
gender_cd
age
marital_status_cd
children_cnt
job_position_cd
job_title
first_session_dttm_nan
first_session_year
first_session_month
first_session_day
first_session_hour
age_less_than_17
age_17_25
age_26_40
age_more_than_40
age_nan
product_0_one_hot_0
product_0_one_hot_1
product_0_one_hot_2
product_1_one_hot_0
product_1_one_hot_1
product_1_one_hot_2
product_1_one_hot_3
product_2_one_hot_0
product_2_one_hot_1
product_2_one_hot_2
product_2_one_hot_3
product_3_one_hot_0
product_3_one_hot_1
product_3_one_hot_2
product_4_one_hot_0
product_4_one_hot_1
product_4_one_hot_2
product_4_one_hot_3
product_5_one_hot_0
product_5_one_hot_1
product_5_one_hot_2
product_5_one_hot_3
product_6_one_hot_0
product_6_one_hot_1
product_6_one_hot_2
product_6_one_hot_3
marital_status_cd_one_hot_0
marital_status_cd_one_hot_1
marital_status_cd_one_hot_2
marital_status_cd_one_hot_3
marital_status_cd_one_hot_4
marital_status_cd_one_hot_5
marital_status_cd_one_hot_6
job_title_one_hot_-1
job_title_one_hot_29
job_title_one_hot_94
job_title_one_hot_317
job_title_one_hot_579
job_title_one_hot_781
job_title_one_hot_1065
job_title_one_hot_1642
job_title_one_hot_2520
job_title_one_hot_2689
job_title_one_hot_3407
job_title_one_hot_3739
job_title_one_hot_4545
job_title_one_hot_4840
job_title_one_hot_4841
job_title_one_hot_4903
product_0_frequency_encoded
product_1_frequency_encoded
product_2_frequency_encoded
product_3_frequency_encoded
product_4_frequency_encoded
product_5_frequency_encoded
product_6_frequency_encoded
marital_status_cd_frequency_encoded
job_title_frequency_encoded
first_session_year_frequency_encoded
first_session_month_frequency_encoded
first_session_day_frequency_encoded
first_session_hour_frequency_encoded
age_frequency_encoded
children_cnt_frequency_encoded
job_position_cd_frequency_encoded
dislike_to_mean_product_0
like_to_mean_product_0
skip_to_mean_product_0
view_to_mean_product_0
dislike_to_mean_product_1
like_to_mean_product_1
skip_to_mean_product_1
view_to_mean_product_1
dislike_to_mean_product_2
like_to_mean_product_2
skip_to_mean_product_2
view_to_mean_product_2
dislike_to_mean_product_3
like_to_mean_product_3
skip_to_mean_product_3
view_to_mean_product_3
dislike_to_mean_product_4
like_to_mean_product_4
skip_to_mean_product_4
view_to_mean_product_4
dislike_to_mean_product_5
like_to_mean_product_5
skip_to_mean_product_5
view_to_mean_product_5
dislike_to_mean_product_6
like_to_mean_product_6
skip_to_mean_product_6
view_to_mean_product_6
dislike_to_mean_marital_status_cd
like_to_mean_marital_status_cd
skip_to_mean_marital_status_cd
view_to_mean_marital_status_cd
dislike_to_mean_job_title
like_to_mean_job_title
skip_to_mean_job_title
view_to_mean_job_title
dislike_to_mean_first_session_year
like_to_mean_first_session_year
skip_to_mean_first_session_year
view_to_mean_first_session_year
dislike_to_mean_first_session_month
like_to_mean_first_session_month
skip_to_mean_first_session_month
view_to_mean_first_session_month
dislike_to_mean_first_session_day
like_to_mean_first_session_day
skip_to_mean_first_session_day
view_to_mean_first_session_day
dislike_to_mean_first_session_hour
like_to_mean_first_session_hour
skip_to_mean_first_session_hour
view_to_mean_first_session_hour
dislike_to_mean_age
like_to_mean_age
skip_to_mean_age
view_to_mean_age
dislike_to_mean_children_cnt
like_to_mean_children_cnt
skip_to_mean_children_cnt
view_to_mean_children_cnt
dislike_to_mean_job_position_cd
like_to_mean_job_position_cd
skip_to_mean_job_position_cd
view_to_mean_job_position_cd